config/database.yml
docker-compose.yml
Dockerfile
.bundle/config
vendor/bundle/*
vendor/bundle/*/*
vendor/bundle/*/*/*
vendor/bundle/*/*/*/*
vendor/bundle/*/*/*/*/*
log/*
log/*/*
log/*/*/*
log/*/*/*/*
log/*/*/*/*/*
tmp
tmp/*
tmp/*/*
tmp/*/*/*
tmp/*/*/*/*
tmp/*/*/*/*/*
.git
.git/*
.git/*/*
.git/*/*/*
.git/*/*/*/*
.git/*/*/*/*/*
